__pycache__
uv.lock
.uv_cache
.venv/
ayon*/

tmp/*
!tmp/.gitkeep

extras/*
!extras/.gitkeep

tests/*
!tests/.gitkeep

# Repos cloned by `mani sync` that don't match `ayon*/`
ash/
ops-repo-automation/
pytest-ayon/
